body{
    font-family: 'Playfair Display';
}

.logo{
    font-size: 30px;

}


.contenidoHero{
    background: url('img/libros.jpg');
    background-size: cover;
    height: 350px;
}

.form-container{
    width: 50%;
    margin-top: 20vh;
}
.img-card{
    width: 15rem;
}